<?xml version="1.0"?>
<PSharpBatchAuthConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
    <!-- Azure Batch Credentials -->
    <BatchAccountName></BatchAccountName>
    <BatchAccountKey></BatchAccountKey>
    <BatchAccountUrl></BatchAccountUrl>
    <!-- Azure Storage Account Credentials. This storage account has to be linked with the Batch account. -->
    <StorageAccountName></StorageAccountName>
    <StorageAccountKey></StorageAccountKey>
</PSharpBatchAuthConfig>