<?xml version="1.0"?>
<PSharpBatchConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- Id of the Azure Batch pool to be created if does not exists -->
	<PoolId>$Pool ID$</PoolId>

	<!-- Prefix of the Job ID (a timestamp will be appended to it) -->
	<JobDefaultId>$Job Prefix$</JobDefaultId>

	<!-- Prefix of the task id. (a timestamp will be appended to it) -->
	<TaskDefaultId>$Task Prefix$</TaskDefaultId>

	<!-- Blob access key expiry hours. Enter -1 for infinite expiry hours. -->
	<BlobContainerSasExpiryHours>$Blob container expiry hours$</BlobContainerSasExpiryHours>

	<!-- Number of nodes to create -->
	<NumberOfNodesInPool>$Number of nodes in pool$</NumberOfNodesInPool>

	<!-- Path to the PSharp Binaries folder -->
	<PSharpBinariesFolderPath>$Path to the PSharp Binaries folder$</PSharpBinariesFolderPath>

	<!-- Path to the output folder -->
	<OutputFolderPath>$Output folder path$</OutputFolderPath>

	<!-- Wait time for monitoring tasks, beyond which the tasks will be terminated -->
	<TaskWaitHours>$Task wait time in hours$</TaskWaitHours>

	<!-- Job deletion details -->
	<DeleteJobAfterDone>$Should job be deleted after completion (true/false)$</DeleteJobAfterDone>
	<DeleteContainerAfterDone>$Should the containers be deleted after completion (true/false)$</DeleteContainerAfterDone>

	<Tests>
		<!-- You can have multiple tests here. Each test will correspond to one binray -->
		<ApplicationPath>$Absolute path to Binary/Application$</ApplicationPath>
		<Test>
			<!-- Test 1 -->
			<!-- You can enter multiple commands here -->
			<!-- Command 1 -->
			<Command>
				<NumberOfParallelTasks>$Number of parallel tasks to run$</NumberOfParallelTasks>
				<IterationsPerTask>$Number of iterations per task$</IterationsPerTask>
				<CommandFlags>$Other command flags$</CommandFlags>
				<CommandName>$Name of the command$</CommandName>
				<!-- Scheduling statergy is optional -->
				<SchedulingStratergy>$Scheduling strategy for the tasks$</SchedulingStratergy>
			</Command>
			<!-- Command 2 -->
			<Command>
				<NumberOfParallelTasks>$Number of parallel tasks to run$</NumberOfParallelTasks>
				<IterationsPerTask>$Number of iterations per task$</IterationsPerTask>
				<CommandFlags>$Other command flags$</CommandFlags>
				<CommandName>$Name of the command$</CommandName>
				<!-- Scheduling statergy is optional -->
				<SchedulingStratergy>$Scheduling strategy for the tasks$</SchedulingStratergy>
			</Command>
		</Test>
		<Test>
			<!-- Test 2 -->
		</Test>
	</Tests>

</PSharpBatchConfig>
